body{
  background: url(../images/1643987313_27-phonoteka-org-p-fon-dlya-saita-besshovnii-svetlii-31.jpg); /* картина фона веб-страницы */
  margin-left: 500px;
  margin-right: auto;
  width: 350px;
 } 

 h1{
  color: rgb(1, 1, 116);
 }

table {
  width: auto; /* Ширина таблицы */
  height: auto; /* высота таблицы */
  border-collapse: collapse; /* Убираем двойные линии между ячейками */
 }

 td{
  padding-right: 6px;
  padding-left: 6px;
  height: 38px;
  padding: 3px solid rgb(148, 1, 1); /* Поля вокруг содержимого таблицы */
  border: 1px solid rgb(0, 0, 0); /* Параметры рамки */
 }
 
 tr {
  background: #ff9100; /* Цвет фона */
 }

 .btn {
  display: inline-block; /* Строчно-блочный элемент */
  background: #9cbbd6; /* Серый цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
 }