{% extends 'main.html' %}
{% block title %}Главная страница{% endblock %}
{% block body %}
  <h1>Это эксперементальная страница в работе с pySpark и Flask</h1>
  <h3>С вами на связи Стажёр</h3>
  <a href="search" class="btn">Вернуться к выбору</a>
  <table>
        <tr>
        <td bgcolor="#584995">  ID           </td> 
        <td bgcolor="#181682">  symbol       </td>
        <td bgcolor="#584995">  data         </td>
        <td bgcolor="#181682">  open         </td>
        <td bgcolor="#584995">  high         </td>
        <td bgcolor="#181682">  low          </td>
        <td bgcolor="#584995">  close        </td>
        <td bgcolor="#181682">  volume       </td>
        <td bgcolor="#584995">  adjusted     </td>
        <td bgcolor="#181682">  market.cap   </td>
        <td bgcolor="#584995">  sector       </td>
        <td bgcolor="#181682">  industry     </td>
        <td bgcolor="#584995">  exchange     </td>
    </tr>
  {% for row in lst %}
    <tr>
        <td bgcolor="#C8BBFC">  {{ row["_c0"] }}         </td> 
        <td bgcolor="#A8A7FA">  {{ row["symbol"] }}      </td>
        <td bgcolor="#C8BBFC">  {{ row["data"] }}        </td>
        <td bgcolor="#A8A7FA">  {{ row["open"] }}        </td>
        <td bgcolor="#C8BBFC">  {{ row["high"] }}        </td>
        <td bgcolor="#A8A7FA">  {{ row["low"] }}         </td>
        <td bgcolor="#C8BBFC">  {{ row["close"] }}       </td>
        <td bgcolor="#A8A7FA">  {{ row["volume"] }}      </td>
        <td bgcolor="#C8BBFC">  {{ row["adjusted"] }}    </td>
        <td bgcolor="#A8A7FA">  {{ row["market.cap"] }}  </td>
        <td bgcolor="#C8BBFC">  {{ row["sector"] }}      </td>
        <td bgcolor="#A8A7FA">  {{ row["industry"] }}    </td>
        <td bgcolor="#C8BBFC">  {{ row["exchange"] }}    </td>
    </tr>
  {% endfor %}
  </table>
  <a href="filter?s={{ s }}&e={{ e }}&ind={{ ind }}&cou={{cou+100}}" class="btn">Ещё</a>
{% endblock %}
